{% extends 'base.html.twig' %}

{% block title %}Les Argonautes{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ captain }}! </h1>

    <h2>Hire argonaute</h2>

    {{ form(argonauteHiringForm) }}

</div>
{% endblock %}
